.decor {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 97%;
  right: 2%;
  z-index: 10;

  @each $icon in (rhomb, trigle, line, circle) {
    &--#{$icon} {
      background-image: url(./images/icons/decor/#{$icon}.svg);
      background-repeat: no-repeat;
    }
  }
  &--trigle {
    right: 90%;
  }
  &--circle {
    right: 90%;
  }
}