.primary-button {
  font-family: 'Play';
  font-size: 1rem;
  padding: 1.3rem 2.5rem;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: $accent-color;
  border: 0;
  color: #fff;

  &--form {
    font-weight: bold;
  }
  &--clear {
    background-color: transparent;
    color: $accent-color;
    font-weight: 400;
    text-transform: capitalize;
  }
}