.hero {
  background-color: $bg-color-grey;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1100px) {
      flex-direction: row-reverse;
      height: 90vh;
    }
  }

  &__content {
    @media screen and (min-width: 1100px) {
      width: 50%;
      text-align: left;
    }
  }



  &__image {
    width: 20rem;
    

    @media screen and (min-width: 1100px) {
      width: 30rem;

    }
  }

  &__advantage-list {
    display: none;

    @media screen and (min-width: 1100px) {
      display: flex;
      margin-top: 2rem;
    }
  }

  &__advantage-item {
    display: flex;
    align-items: center;
  }

  &__advantage-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;

    @each $icon in (hero-sound, hero-battery, hero-fuel) {
      &--#{$icon} {
        background-image: url(./images/icons/#{$icon}.svg);
      }
    }

  }

}