body,
html,
section {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

img,
embed, 
object,
video,
figure {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
:focus {
  outline: none;
}