.form-delivery {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1100px){
    flex-direction: row;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-content: center;
    
    @media screen and (min-width: 1100px){
      width: 50%;
      margin-right: 1.25rem;
    }

  }

  &__group {
    max-width: 100%;
    display: flex;
    margin-top: 1em;

    &:first-child {
      .form-delivery__label:first-child {
        margin-right: 5%;
      }
      .form-delivery__label:last-child {
        margin-right: 0;
      }
    }

    &--center {
      justify-content: center;
    }

    &--buttons {
      margin-top: 5vh;
      flex-wrap: wrap;
      line-height: 2.5;
      justify-content: center;

      @media screen and (min-width: 1100px){
        justify-content: flex-start;
      }
    }

    &--pay {
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
        width: 60%;
      }
    }

  }

  &__label {
    width: 100%;
    height: 10vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.8;

    &--comments {
      height: 8.5rem;

      @media screen and (min-width: 1100px){
        height: 14.5rem;
      }
      
    }

    &--number {
      max-width: 21.25%;
      margin-right: 5%;
    }

    &--pay,
    &--checkbox,
    &--buttons {
      flex-direction: row;
      justify-content: center;
      height: 5vh;
    }
  }

  &__input {
    height: 50%;
    border-radius: 5px;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      box-shadow: inset 0 0 0 transparent, 0 0 0 2px $accent-color, 0 -3px 10px 0px hsla(0,0%,39.2%,.5);
    }
  }

}